.section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-dark);
  overflow: hidden;
}

@media (min-width: 640px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.container {
  width: 100%;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: auto;
  }
}

.contentCenter {
  text-align: center;
}

.titleContainer {
  margin-bottom: 4rem;
  transition: all 1s ease;
  transition-delay: 200ms;
}

@media (min-width: 640px) {
  .titleContainer {
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .titleContainer {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .titleContainer {
    margin-bottom: 7rem;
  }
}

@media (min-width: 1280px) {
  .titleContainer {
    margin-bottom: 8rem;
  }
}

.titleContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.titleContainer.hidden {
  opacity: 0;
  transform: translateY(2rem);
}

.mainTitle {
  color: #ebe2da;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18vw;
  line-height: 0.9;
  position: relative;
  white-space: nowrap;
  font-family: var(--font-family-thunder);
}

.ctaContainer {
  transition: all 1s ease;
  transition-delay: 400ms;
}

.ctaContainer.visible {
  opacity: 1;
  transform: translateY(0);
}

.ctaContainer.hidden {
  opacity: 0;
  transform: translateY(2rem);
}

.ctaButton {
  -webkit-text-size-adjust: 100%;
  line-height: 20px;
  box-sizing: border-box;
  cursor: none;
  max-width: 100%;
  display: block;
  letter-spacing: 0;
  text-transform: uppercase;
  border: 3px solid #000;
  border-radius: 60px;
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 9px 10px #000;
  padding: 1.2em 2.5em;
  text-decoration: none;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  background-color: var(--color-red);
  color: white;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  transition: all 200ms ease;
}

@media (min-width: 480px) {
  .ctaButton {
    font-size: 20px;
    padding: 1.4em 3em;
    border-radius: 70px;
  }
}

@media (min-width: 640px) {
  .ctaButton {
    padding: 1.6em 3.5em;
    font-size: 22px;
    border-radius: 80px;
  }
}

@media (min-width: 768px) {
  .ctaButton {
    padding: 1.8em 4em;
    font-size: 24px;
    border-radius: 90px;
  }
}

@media (min-width: 1024px) {
  .ctaButton {
    font-size: 26px;
    padding: 2em 4.5em;
    border-radius: 100px;
  }
}

@media (min-width: 1280px) {
  .ctaButton {
    font-size: 30px;
    padding: 2.2em 5em;
    border-radius: 110px;
  }
}

.ctaButton:hover {
  background-color: var(--color-red-dark);
  transform: translateY(-2px);
  box-shadow: 11px 12px #000;
}
